# Entornos
.env
.env.*
*.env
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Archivos generados
output.png

# IDE / sistema
.vscode/
.DS_Store